body{
    background-image: url('telagit.jpg');
}
div#top{
    width:640px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    margin-top: 40px; 
    margin-left: 100px;
    box-shadow:  0 0 2em rgb(3, 16, 70);
    padding: 10px;
   
}
h1{
    text-align: center;
    font-family: 'Arial', Times, serif;
    color: blue;
    text-decoration: underline;
}
