body{
    background-image: url('telagit5.jpg');
}
div#top{
    width:800px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    margin-top: 40px; 
    margin-left: 40px;
    padding: 10px;
   
}
h1{
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(131, 131, 136);
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 50px;

}
