body{
    background-image: url('git8.jpg');
}
div#top{
    width:800px;
    height: 500px;
    background-color: rgb(235, 230, 230);
    border-radius: 8px;
    position: absolute;
    margin-top: 40px; 
    margin-left: 40px;
    padding: 10px;
   
}
h1{
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(111, 111, 114);
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 50px;
}
